[Unit]
Description=LED Matrix Display
After=network.target

[Service]
ExecStart=/home/pi/led-display-startup.sh

[Install]
WantedBy=multi-user.target

